@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  color: brown;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: beige;
}
header {
  padding: 1em;
  background: azure;
  margin-bottom: 1em;
}
.title {
  text-align: center;
  padding: .5em;
  margin: 0;
}

.menu_list {
  margin: 0;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu_list a{
  text-decoration: none;
  margin: .5em;
}

footer{
  margin-top: 1em;
  text-align: center;
  padding: 1em;
  background: azure;
}

@media (min-width: 45em) {
  .menu_list a{
    text-decoration: none;
    margin: 1em;
  }
}